In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data.csv")
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,13624
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,21674
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1907,2171
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3334,3334
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4094,4615
...,...,...,...,...,...,...,...
9727,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OPEN,Gender-Neutral,56910,76463
9728,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,EWS,Gender-Neutral,11263,11413
9729,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OBC-NCL,Gender-Neutral,22569,24055
9730,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,SC,Gender-Neutral,12164,12435
9731,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,ST,Gender-Neutral,4925,5409

In [3]:
df.dtypes

Institute                object
Academic Program Name    object
Quota                    object
Seat Type                object
Gender                   object
Opening Rank             object
Closing Rank             object
dtype: object

In [4]:
df = df.convert_dtypes()
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,13624
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,21674
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1907,2171
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3334,3334
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4094,4615
...,...,...,...,...,...,...,...
9727,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OPEN,Gender-Neutral,56910,76463
9728,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,EWS,Gender-Neutral,11263,11413
9729,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OBC-NCL,Gender-Neutral,22569,24055
9730,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,SC,Gender-Neutral,12164,12435
9731,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,ST,Gender-Neutral,4925,5409

In [5]:
df.dtypes

Institute                string
Academic Program Name    string
Quota                    string
Seat Type                string
Gender                   string
Opening Rank             string
Closing Rank             string
dtype: object

In [6]:
df.dropna(inplace=True)

In [7]:
df = df[df["Closing Rank"].apply(lambda x: x.isnumeric())]

In [8]:
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,13624
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,21674
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1907,2171
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3334,3334
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4094,4615
...,...,...,...,...,...,...,...
9727,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OPEN,Gender-Neutral,56910,76463
9728,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,EWS,Gender-Neutral,11263,11413
9729,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OBC-NCL,Gender-Neutral,22569,24055
9730,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,SC,Gender-Neutral,12164,12435
9731,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,ST,Gender-Neutral,4925,5409

In [9]:
df = df[df["Opening Rank"].apply(lambda x: x.isnumeric())]

In [10]:
df['Closing Rank'] = df['Closing Rank'].astype(int)

In [11]:
 df['Opening Rank']  = df['Opening Rank'].astype(int)

In [12]:
df.dropna()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,13624
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,21674
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1907,2171
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3334,3334
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4094,4615
...,...,...,...,...,...,...,...
9727,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OPEN,Gender-Neutral,56910,76463
9728,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,EWS,Gender-Neutral,11263,11413
9729,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OBC-NCL,Gender-Neutral,22569,24055
9730,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,SC,Gender-Neutral,12164,12435
9731,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,ST,Gender-Neutral,4925,5409

In [13]:
df.dtypes

Institute                string
Academic Program Name    string
Quota                    string
Seat Type                string
Gender                   string
Opening Rank              int32
Closing Rank              int32
dtype: object

In [14]:
df.sort_values(by = 'Closing Rank')

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
200,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,SC (PwD),Gender-Neutral,1,1
9358,"School of Planning & Architecture, New Delhi","Architecture (5 Years, Bachelor of Architecture)",AI,ST (PwD),Gender-Neutral,1,1
203,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,ST (PwD),Gender-Neutral,2,2
196,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,OBC-NCL (PwD),Gender-Neutral,1,2
193,Indian Institute of Technology Bombay,"Computer Science and Engineering (4 Years, Bac...",AI,EWS (PwD),Gender-Neutral,2,2
...,...,...,...,...,...,...,...
5675,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),724006,724006
6192,"National Institute of Technology, Mizoram",Electronics and Communication Engineering (4 Y...,HS,OPEN,Gender-Neutral,261229,743940
6205,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Female-only (including Supernumerary),776488,776488
6204,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",HS,OPEN,Gender-Neutral,847546,847546
6181,"National Institute of Technology, Mizoram",Electrical and Electronics Engineering (4 Year...,HS,OPEN,Gender-Neutral,337213,857734

In [31]:
result = df.loc[(df['Institute'] == 'Indian Institute of Technology Bombay') & (df['Seat Type'] == "OPEN") & (df['Closing Rank'] > 1000)]

In [32]:
result.sort_values(by = 'Closing Rank')

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
216,Indian Institute of Technology Bombay,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN,Female-only (including Supernumerary),1065,1341
275,Indian Institute of Technology Bombay,"Mechanical Engineering (4 Years, Bachelor of T...",AI,OPEN,Gender-Neutral,141,1406
252,Indian Institute of Technology Bombay,"Engineering Physics (4 Years, Bachelor of Tech...",AI,OPEN,Gender-Neutral,200,1452
288,Indian Institute of Technology Bombay,Mechanical Engineering and M.Tech. in Computer...,AI,OPEN,Gender-Neutral,1409,1492
229,Indian Institute of Technology Bombay,"Electrical Engineering (5 Years, Bachelor and ...",AI,OPEN,Female-only (including Supernumerary),1379,1901
153,Indian Institute of Technology Bombay,"Chemical Engineering (4 Years, Bachelor of Tec...",AI,OPEN,Gender-Neutral,1420,2081
204,Indian Institute of Technology Bombay,"Economics (4 Years, Bachelor of Science)",AI,OPEN,Gender-Neutral,1577,2107
132,Indian Institute of Technology Bombay,"Aerospace Engineering (4 Years, Bachelor of Te...",AI,OPEN,Gender-Neutral,577,2119
145,Indian Institute of Technology Bombay,"BS in Mathematics (4 Years, Bachelor of Science)",AI,OPEN,Gender-Neutral,552,2158
241,Indian Institute of Technology Bombay,"Energy Engineering (4 Years, Bachelor of Techn...",AI,OPEN,Gender-Neutral,1116,2381
276,Indian Institute of Technology Bombay,"Mechanical Engineering (4 Years, Bachelor of T...",AI,OPEN,Female-only (including Supernumerary),971,3036
253,Indian Institute of Technology Bombay,"Engineering Physics (4 Years, Bachelor of Tech...",AI,OPEN,Female-only (including Supernumerary),2113,3349
175,Indian Institute of Technology Bombay,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,1941,3471
297,Indian Institute of Technology Bombay,Metallurgical Engineering and Materials Scienc...,AI,OPEN,Gender-Neutral,2476,3783
146,Indian Institute of Technology Bombay,"BS in Mathematics (4 Years, Bachelor of Science)",AI,OPEN,Female-only (including Supernumerary),1248,3895
133,Indian Institute of Technology Bombay,"Aerospace Engineering (4 Years, Bachelor of Te...",AI,OPEN,Female-only (including Supernumerary),2312,4081
289,Indian Institute of Technology Bombay,Mechanical Engineering and M.Tech. in Computer...,AI,OPEN,Female-only (including Supernumerary),3531,4102
205,Indian Institute of Technology Bombay,"Economics (4 Years, Bachelor of Science)",AI,OPEN,Female-only (including Supernumerary),3238,4590
154,Indian Institute of Technology Bombay,"Chemical Engineering (4 Years, Bachelor of Tec...",AI,OPEN,Female-only (including Supernumerary),2571,4591
264,Indian Institute of Technology Bombay,Environmental Science and Engineering (5 Years...,AI,OPEN,Gender-Neutral,3926,4736
242,Indian Institute of Technology Bombay,"Energy Engineering (4 Years, Bachelor of Techn...",AI,OPEN,Female-only (including Supernumerary),3498,5022
165,Indian Institute of Technology Bombay,"Chemistry (4 Years, Bachelor of Science)",AI,OPEN,Gender-Neutral,4360,5500
176,Indian Institute of Technology Bombay,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),4728,7079
298,Indian Institute of Technology Bombay,Metallurgical Engineering and Materials Scienc...,AI,OPEN,Female-only (including Supernumerary),6625,8417
265,Indian Institute of Technology Bombay,Environmental Science and Engineering (5 Years...,AI,OPEN,Female-only (including Supernumerary),8187,9590
166,Indian Institute of Technology Bombay,"Chemistry (4 Years, Bachelor of Science)",AI,OPEN,Female-only (including Supernumerary),10036,11453

In [33]:
df

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,13624
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,21674
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1907,2171
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3334,3334
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4094,4615
...,...,...,...,...,...,...,...
9727,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OPEN,Gender-Neutral,56910,76463
9728,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,EWS,Gender-Neutral,11263,11413
9729,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,OBC-NCL,Gender-Neutral,22569,24055
9730,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,SC,Gender-Neutral,12164,12435
9731,Central University of Jammu,Electronics and Communication Engineering (Avi...,AI,ST,Gender-Neutral,4925,5409

In [34]:
df.dtypes

Institute                string
Academic Program Name    string
Quota                    string
Seat Type                string
Gender                   string
Opening Rank              int32
Closing Rank              int32
dtype: object

In [35]:
df.to_csv("DataFinal.csv",index=True)